includes:
    - vendor/aryeohq/phpstan-rules/rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    aryeo:
        tests:
            testCaseClass: Tests\TestCase
    ergebnis:
        allRules: false
        testCaseWithSuffix:
            enabled: true
    level: 0
    paths:
        - tests
