includes:
    - vendor/aryeohq/phpstan-rules/rules.neon
    - vendor/canvural/larastan-strict-rules/rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    aryeo:
        tests:
            enabled: false
    ergebnis:
        final:
            enabled: false
        noExtends:
            enabled: false
        noNamedArgument:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noPhpstanIgnore:
            enabled: false
    larastanStrictRules:
        noFacade: false
        noGlobalLaravelFunction: false
    level: max
    paths:
        - src/
    stubFiles:
        - stubs/Scout/Builder.stub.php
        - stubs/OpenSearch/IndicesNamespace.stub.php
    excludePaths:
        - src/**/*Test.php
        - src/Support/Search/Scout/Mixins/BuilderMixin.php
        - src/Support/Search/Scout/Console/ScoutDispatch.php
    ignoreErrors:
        - '#Trait .+ is used zero times and is not analysed\.#'
    strictRules:
